{% extends "admin/dashboard.html.twig" %}

{% block title 'Cahrtjs'%}

{% block body %}
	<div class="row g-4 mb-4">
		<div class="col-12 col-lg-6">
			<div class="app-card app-card-chart h-100 shadow-sm">
				<div class="app-card-header p-3 border-0">
					<h4 class="app-card-title">Area Line Chart Demo</h4>
				</div>
				<!--//app-card-header-->
				<div class="app-card-body p-4">
					<div class="chart-container">
						{{ render_chart(chart) }}
					</div>
				</div>
				<!--//app-card-body-->
			</div>
			<!--//app-card-->
		</div>
		<!--//col-->
	</div>
{% endblock %}
